*{
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  max-width: 1200px;
}

.formsheet__form-main {
  margin: 0 auto;
  max-width: 800px;
  border: 1px solid red;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
}

.formsheet__button-container {
  display: flex;
  justify-content: space-between;
}

.polloptionfield__main{
  border: 0;
}

.pollscore__main {
  border: 0;
}

.pollinput__main {
  border: 0;
  display: flex;
  flex-direction: column;
}

.pollscore__input-container {
  display: inline;

}
.polloptionfield__label-container {
  margin: 0 auto;
  padding: 10px;
  text-align: left;
}

.polloptionfield__label-container label {
  text-align: right;
}

